.login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #181414fc;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login_container .username_container {
  position: relative;
}

.login_container .password_container {
  position: relative;
}

.login_container .username_container input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login_container .password_container input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.error_message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  color: #00adb5;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 18px;
  border-radius: 0.5em;
  background-color: whitesmoke;
  border: 1px solid #e8e8e8;
  margin: auto;
  display: block;
}

.button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #00adb5;
}
