/* .sidebar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 150px;
  height: 100%;
  padding: 0 16px;
  background-color: #393e46;
  border-right: 1px solid #00adb5;
  transition: 0.4s;
} */
.sidebar_container {
  position: absolute;
  left: 0;
  top: 10;
  bottom: 0;
  width: 200px;
}

.sidebar {
  background-color: #393e46;
  box-sizing: border-box;
  color: rgb(242, 242, 242);
  color-scheme: dark;
  display: block;
  font-size: 14px;
  height: 758px;
  line-height: 21px;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  position: sticky;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  top: 56px;
  width: 100%;
}
